<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="styleLogin.css">
</head>

<script>
	var app = angular.module("my-app", []);

	app.factory('interceptor', [function () {
		var interceptor = {
			request: function (config) {
				config.headers.Authorization = localStorage.getItem("tokenkey");
				//config.headers.Authorization = localStorage.getItem("username");
				//debugger;
				return config;
			},
			// response: function (response) {
			// 	//debugger;
			// 	return response;
			// }
			responseError: function (rejection) {
				//If a request fails with 401, the token is likely dead.
				if (rejection.status === 401) {
					localStorage.removeItem("tokenkey");
					window.location.href = "Login.html";
				}
				return Promise.reject(rejection);
			}
		};
		return interceptor;
	}]);

	app.config(function ($httpProvider) {
		$httpProvider.interceptors.push('interceptor');
	});

	app.controller('LoginCtlr', function ($scope, $http) {
		$scope.login = function () {
			var v = $scope.l;

			$http.post("https://localhost:44332/Api/Login", v).then(function (res) {
				//debugger;
				if (res.data && res.data.AccessToken) {
					localStorage.setItem("tokenkey", res.data.AccessToken);
					localStorage.setItem("refreshtoken", res.data.RefreshToken);
					window.location.href = "DashBoard.html";
				}
			},
				function (err) {
					$scope.errMsg = err.data?.Msg || "Login Failed";
					//alert(err.data.Msg);
					//debugger;
				});

		};
	});


</script>

<body ng-app="my-app">
	<div class="login-container" ng-controller="LoginCtlr">
		<h2>Login</h2>
		<form ng-submit="login()">
			<input type="text" ng-model="l.username" placeholder="User Name" required>
			<input type="password" ng-model="l.password" placeholder="Password" required>
			<input type="submit" value="Login">
		</form>
		<div class="error-msg" ng-if="errMsg">{{errMsg}}</div>
	</div>
</body>

</html>