<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="styleProductUpdated.css">
</head>

<script>
    var app = angular.module("my-app", []);

    /*   Interceptor */
    app.factory('interceptor', ['$q', '$window', '$injector', function ($q, $window, $injector) {
        return {
            request: function (config) {
                var token = localStorage.getItem("tokenkey");
                if (token) {
                    config.headers.Authorization = token;
                }
                return config;
            },
            /*   Auto Refresh */
            responseError: function (rejection) {
                // Handle Token Expiry (401) after 30 min will expire
                if (rejection.status === 401) {
                    var refreshToken = localStorage.getItem("refreshtoken");
                    if (refreshToken) {
                        var $http = $injector.get('$http');

                        // Call the Refresh API
                        return $http.post("https://localhost:44332/Api/Token/Refresh?refreshToken=" + refreshToken)
                            .then(function (res) {
                                // Backend returns { AccessToken: "..." }
                                var newToken = res.data.AccessToken;

                                if (newToken) {
                                    // Update local storage so future requests use the new token
                                    localStorage.setItem("tokenkey", newToken);

                                    // Retry the exact request that just failed
                                    rejection.config.headers.Authorization = newToken;
                                    return $http(rejection.config);
                                }
                            })
                            .catch(function () {
                                localStorage.clear();
                                $window.location.href = "Login.html";
                                return $q.reject(rejection);
                            });
                    }
                }
                return $q.reject(rejection);
            }
        };
    }]);

    app.config(function ($httpProvider) {
        $httpProvider.interceptors.push('interceptor');
    });

    /* Product Controller */
    app.controller("ProductCtlr", function ($scope, $http, $timeout, $window) {
        $scope.products = [];
        $scope.form = {};
        $scope.errMsg = "";
        $scope.successMsg = "";
        $scope.searchText = "";
        $scope.UserName = "User";
        $scope.UserRole = "";

        // Clear messages
        var clearMsgs = function () {
            $timeout(function () {
                $scope.errMsg = "";
                $scope.successMsg = "";
            }, 3000);
        };

        // Get User Info from Token
        $scope.getUserInfo = function () {
            var token = localStorage.getItem("tokenkey");
            if (token) {
                try {
                    var payload = JSON.parse(atob(token.split('.')[1]));
                    // Microsoft Schema Keys to holding usen name nad user role
                    $scope.UserName = payload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"] || "User";
                    $scope.UserRole = payload["http://schemas.microsoft.com/ws/2008/06/identity/claims/role"];
                } catch (e) {
                    console.error("Token decode error", e);
                }
            }
        };
        $scope.getUserInfo();

        // Load all products
        $scope.loadProducts = function () {
            $http.get("https://localhost:44332/Api/Product/All").then(function (res) {
                $scope.products = res.data;
            }, function (err) {
                $scope.errMsg = err.data?.Msg || "Failed to fetch products";
                clearMsgs();
            });
        };
        $scope.loadProducts();

        // Create or Update
        $scope.saveProduct = function () {
            var url = $scope.form.Id ?
                "https://localhost:44332/Api/Product/Update/" + $scope.form.Id :
                "https://localhost:44332/Api/Product/Create";

            var method = $scope.form.Id ? 'put' : 'post';

            $http[method](url, $scope.form).then(function (res) {
                $scope.successMsg = $scope.form.Id ? "Product updated!" : "Product created!";
                $scope.form = {};
                $scope.loadProducts();
                clearMsgs();
            }, function (err) {
                $scope.errMsg = err.data?.Msg || "Operation failed";
                clearMsgs();
            });
        };

        $scope.editProduct = function (p) {
            $scope.form = angular.copy(p);
            $window.scrollTo(0, 0);
        };

        $scope.deleteProduct = function (id) {
            if (confirm("Are you sure?")) {
                $http.delete("https://localhost:44332/Api/Product/Delete/" + id).then(function (res) {
                    $scope.successMsg = "Product deleted";
                    $scope.loadProducts();
                    clearMsgs();
                }, function (err) {
                    $scope.errMsg = err.data?.Msg || "Delete failed";
                    clearMsgs();
                });
            }
        };

        /* View History (Transactions) */
        $scope.viewHistory = function (id) {
            $http.get("https://localhost:44332/Api/Product/" + id + "/Transactions")
                .then(function (res) {
                    $scope.historyData = res.data;
                    $scope.showHistory = true;
                    $scope.showNotifications = false; // Hide other view
                }, function (err) {
                    $scope.errMsg = "History not found.";
                    clearMsgs();
                });
        };

        $scope.showHistory = false;
        $scope.showNotifications = false;

        $scope.closeDetails = function () {
            $scope.showHistory = false;
            $scope.showNotifications = false;
            $scope.historyData = null;
            $scope.notificationData = null;
        };


        /* View Alerts (Notifications) */
        $scope.viewAlerts = function (id) {
            $http.get("https://localhost:44332/Api/Product/" + id + "/Notifications")
                .then(function (res) {
                    $scope.notificationData = res.data;
                    $scope.showNotifications = true;
                    $scope.showHistory = false; // Hide other view
                }, function (err) {
                    $scope.errMsg = "Notifications not found.";
                    clearMsgs();
                });
        };



        $scope.logout = function () {
            $http.post("https://localhost:44332/Api/Logout").finally(function () {
                localStorage.clear();
                $window.location.href = "Login.html";
            });
        };

        $scope.goToDashboard = function () {
            $window.location.href = "Dashboard.html";
        };
    });
</script>

<body ng-app="my-app">
    <div class="container" ng-controller="ProductCtlr">

        <!-- DashBoard -->
        <button class="dashboard-btn" ng-click="goToDashboard()">Dashboard</button>

        <!-- User N -->
        <div class="hello-text">Welcome, {{UserName}}</div>

        <!-- Logout Button -->
        <button class="logout-btn" ng-click="logout()">Logout</button>

        <!-- Error and Success Messages -->
        <div class="error-msg" ng-if="errMsg">{{errMsg}}</div>
        <div class="success-msg" ng-if="successMsg">{{successMsg}}</div>


        <!-- Product Form -->
        <h4>{{form.Id ? "Edit Product" : "Create Product"}}</h4>
        <form ng-submit="saveProduct()" class="product-form">

            <!-- Row 1: Name & Category -->
            <div class="form-row">
                <div class="form-col">
                    <!-- Name Label -->
                    <div class="label-text">Name:</div>
                    <input type="text" ng-model="form.Name" placeholder="Enter product name" required>
                </div>
                <div class="form-col">
                    <!-- Category Label -->
                    <div class="label-text">Category:</div>
                    <input type="text" ng-model="form.Category" placeholder="Enter product category" required>
                </div>
            </div>

            <!-- Row 2: Quantity & Unit Price -->
            <div class="form-row">
                <div class="form-col">
                    <!-- Quantity Label -->
                    <div class="label-text">Quantity:</div>
                    <input type="number" ng-model="form.Quantity" placeholder="Enter quantity" required>
                </div>
                <div class="form-col">
                    <!-- Unit Price Label -->
                    <div class="label-text">Unit Price:</div>
                    <input type="number" ng-model="form.UnitPrice" placeholder="Enter unit price" required>
                </div>
            </div>

            <!-- Row 3: Supplier ID -->
            <div class="form-row">
                <div class="form-col supplier-col">
                    <!-- Supplier ID Label -->
                    <div class="label-text">Supplier ID:</div>
                    <input type="number" ng-model="form.SupplierId" placeholder="Enter supplier ID">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-row submit-row">
                <input type="submit" value="{{form.Id ? 'Update' : 'Create'}}">
            </div>

            <!-- Cancel Button -->
            <div class="form-row cancel-row">
                <button type="button" ng-click="form={}">Cancel</button>
            </div>
        </form>

        <!-- Search Input -->
        <h3>Search</h3>
        <input type="text" ng-model="searchText" placeholder="Search by Name or Category">


        <!-- Product transaction history -->
        <div ng-if="showHistory" class="detail-box">
            <h4>Transaction History for ID: {{historyData.Id}}</h4>
            <ul>
                <li ng-repeat="t in historyData.Transactions">
                    {{t.Tran_Type}} | Qty: {{t.Tran_Qty}} | Date: {{t.Tran_Date | date:'short'}}
                </li>
            </ul>
            <button ng-click="closeDetails()">Close History</button>
        </div>

        <!-- Notification alert -->
        <div ng-if="showNotifications" class="detail-box">
            <h4>Notifications for ID: {{notificationData.Id}}</h4>
            <div ng-repeat="n in notificationData.Notifications" class="alert-item">
                <strong>{{n.Status}}:</strong> {{n.Description}}
            </div>
            <button ng-click="closeDetails()">Close Notifications</button>
        </div>


        <!-- Page Heading -->
        <h3>Product List</h3>
        <!-- Product Table -->
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Entry Date</th>
                <th>Expiry Date</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="p in products | filter:searchText">
                <td>{{p.Id}}</td>
                <td>{{p.Name}}</td>
                <td>{{p.Category}}</td>
                <td>{{p.Quantity}}</td>
                <td>{{p.UnitPrice}}</td>
                <td>{{p.TotalPrice}}</td>
                <td>{{p.EntryDate | date:'yyyy-MM-dd'}}</td>
                <td>{{p.ExpiryDate | date:'yyyy-MM-dd'}}</td>
                <td>
                    <button ng-click="editProduct(p)">Edit</button>
                    <button ng-click="viewHistory(p.Id)" class="history-btn">History</button>
                    <button ng-click="viewAlerts(p.Id)" class="alerts-btn">Alerts</button>
                    <button ng-click="deleteProduct(p.Id)" ng-if="UserRole === 'admin'">Delete</button>

                </td>
            </tr>
        </table>





    </div>

</body>

</html>